body{
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuLogo{
    background-color: rgb(233, 92, 39);
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
}

.menuLogo img{
    height: 100%;
}

.title_cardapio{
    font-family: sans-serif;
    color: rgb(31, 119, 129);
    padding-bottom: 0;
    margin-bottom: 0;
}

p{
    line-height: 0%;
    margin-top: 1;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 70%;
}

.opcoesButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    width: 100%;
}

.opcoesButton a{
    text-decoration: none;
    width: 90%;
    height: 100px;
    background-color: rgb(233, 92, 39);
    text-transform: uppercase;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    border-radius: 2%;
    color: white;
    font-size: 120%;
    font-weight: bold;
    box-shadow: 2px 2px rgba(11, 85, 85, 0.356);
}

#the-canvas {
    border: 1px solid black;
    direction: ltr;
  }

 